@{
    ViewData["Title"] = "Home Page";
}

<div class="space">
    <h2>Food Recall</h2>
    <p>
        Recalls are a means to
        remove potentially hazardous products from the marketplace or from consumers’ homes. This
        manual has been developed to assist businesses with the recall process.
    </p>
    <h2>What do food recall inspections cover?</h2>
    <p>
        <ul>
            <li class="myList">Crusted material accumulated in cracks of conveyor belt, a food contactsurface.</li>
            <li class="myList">
                Incoming raw material is transported through the area where finished productis
                packaged.
            </li>
            <li class="myList">
                Condensate observed dripping on product conveyor line from overhead pipes.
            </li>
        </ul>
    </p>
</div>